.header {
    flex: 0 0 8rem;
    display: grid;
    grid-auto-flow: column;
    background-color: rgba(32, 29, 29, 0.85);
    box-shadow: 0 0.1rem 0.5rem 0.3rem rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    align-items: center;
    padding: 0 3rem;

    &__logo {
        @include bgImageCenter('../../assets/header/logo.png');
        height: 4rem;
        width: 20rem;
        cursor: pointer;
    }

    &__plate {
        cursor: pointer;
        justify-self: end;
        @include bgImage('../../assets/header/plate.png', center, cover);
        height: 5rem;
        width: 5rem;
        &--full {
            @include bgImageCenter('../../assets/header/plate-full.png');
        }
    }
}
