.pizza {
    display: flex;
    flex-direction: column;
    transition: 0.5s;

    &__main {
        position: relative;
        background: url(../../assets/pizza/pizza.png);
        background-position: center;
        background-size: cover;
        height: 40rem;
        width: 40rem;
        box-shadow: 3rem 0 5.6rem 0.5rem rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    &__size {
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;
    }
    &__size-box {
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        padding: 1rem 1.5rem;
        overflow: hidden;
        border-radius: 3px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-image: linear-gradient(80deg, #ffc013 0%, #e46f34 50%, transparent 50%);
            transition: 0.4s;
        }

        &:hover::before,
        &--active::before {
            width: 220%;
        }

        &:hover,
        &--active {
            .pizza__size-name {
                color: rgb(75, 75, 75);
            }
        }
    }

    &__size-name {
        transition: 0.4s;
        position: relative;
        z-index: 100;
        @include colorGradient($color-gradient-1);
    }

    &__ingredient {
        @include absoluteCenter;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: 100%;
        border-radius: 50%;
    }

    &__tomato {
        z-index: 50;
    }
    &__olive {
        z-index: 40;
    }
    &__greens {
        z-index: 30;
    }
    &__mashrooms {
        z-index: 20;
    }
    &__sausage {
        z-index: 10;
    }
}
