.pizza {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s;

    &__main {
        position: relative;
        background: url(../../assets/pizza/pizza.png);
        background-position: center;
        background-size: cover;
        height: 40rem;
        width: 40rem;
        box-shadow: 3rem 0 5.6rem 0.5rem rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    &__btn-text {
        transition: 0.4s;
        position: relative;
        z-index: 100;
        @include colorGradient($color-gradient-1);
    }

    &__piece-ing {
        @include absoluteCenter;
        background-position: center;
        background-size: cover;
        height: 8rem;
        width: 8rem;
    }

    &__size {
        display: flex;
        // flex-direction: column;
        justify-content: space-evenly;
    }

   
    &__ingredient {
        @include absoluteCenter;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: 100%;
        border-radius: 50%;
    }

    &__tomato {
        z-index: 50;
    }
    &__olive {
        z-index: 40;
    }
    &__greens {
        z-index: 30;
    }
    &__mashrooms {
        z-index: 20;
    }
    &__sausage {
        z-index: 10;
    }
}
