.pizza {
    background: url(../../assets/pizza.png);
    background-position: center;
    background-size: cover;
    height: 50rem;
    width: 51rem;
    box-shadow: 1.1rem 0.5rem 5.6rem 0.5rem rgba(0, 0, 0, 0.75);
    border-radius: 50%;
}
