.u-flex-between {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.u-margin-bottom-1 {
	margin-bottom: 1.5rem;
}



.u-flex-center-2{
	@include flexCenter;
	margin: 2rem 0;
}

.u-flex-center-3{
	@include flexCenter;
	margin: 3rem 0;
}