@keyframes slideDown {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dynamicAppearance {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dynamicDisappearance {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
