.App {
    height: 100vh;
    width: 100vw;
    background: url('../assets/back-min.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .main {
        flex: 1 1 auto;
        & > div {
            animation: dynamicAppearance 1s ease-out forwards;
        }
    }
}
