.cutting-board {
    background: url(../../assets/cutting-board.png);
    background-position: center;
    background-size: cover;
    height: 39rem;
    width: 33rem;
    justify-self: flex-end;
    box-shadow: 3rem 0 5.6rem 0.5rem rgba(0, 0, 0, 0.75);
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    &__product {
        user-select: none;
    }
}
